//Primary Colors
$color-primary-01: hsl(193, 38%, 86%);    //Light Cyan
$color-primary-02: hsl(150, 100%, 66%);   //Neon Green

//Neutral Colors
$color-neutral-01: hsl(217, 19%, 38%);    //Grayish Blue
$color-neutral-02: hsl(217, 19%, 24%);    //Dark Grayish Blue
$color-neutral-03: hsl(218, 23%, 16%);    //Dark Blue
