@use '../../sass/colors.scss';

.actionButton {
  background-color: colors.$color-primary-02;
  border-radius: 50%;
  border-style: none;
  width: 64px;
  height: 64px;
  transition: box-shadow 0.3s, background-color 0.2s;
  > div {
    height: 24px;
  }
  &:hover {
    box-shadow: 0 0 30px colors.$color-primary-02;
  }
  &:active {
    background-color: colors.$color-primary-01;
    img {
      animation-name: diceTumble;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes diceTumble {
  from { transform: translate(0); }
  10% { transform: translate(24px); }
  25% { transform: translate(-20px); }
  40% { transform: translate(16px); }
  70% { transform: translate(-8px); }
  to { transform: translate(0); }
}