@use '../../sass/colors';

.card {
  background-color: colors.$color-neutral-02;
  min-width: 350px;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  >div {
    width: 100%;
    border: solid 1px red;
    text-align: center;
  }

  
  
  .quote {
    color: colors.$color-primary-01;
  }
}